<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>QuickSecCert</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		QuickSecCert</display-name>
		<servlet-name>QuickSecCert</servlet-name>
		<servlet-class>com.ibm.ws.svt.quicksec.wclient.QuickSecCert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickSecCert</servlet-name>
		<url-pattern>/QuickSecCert</url-pattern>
		<url-pattern>/webclient</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>
		OtherLoginContraints</display-name>
		<web-resource-collection>
			<web-resource-name>CertSSLservlets</web-resource-name>
			<url-pattern>/QuickSecCert</url-pattern>
			<url-pattern>/QuickSecSSL</url-pattern>
			<url-pattern>/webclient</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>OtherLogin_WebUsers</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>OtherLogin_WebUsers</role-name>
	</security-role>
	
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
	</login-config>
</web-app>